@media screen and (max-width:1599px) {
    .halfimg { width: 350px; top: 38%; }
    /* .navbar-collapse .navbar-nav { margin: 0 138px; } */
}

@media screen and (max-width:1399px) {
    .halfimg { width: 315px; top: 30%; }
}

@media screen and (max-width:1199px) {
    .halfimg { width: 275px; top: 25%; }
    .navbar-collapse .navbar-nav { margin: 0 50px; }
    .navbar { width: 100%; border:none; border-radius: 0; }
    .navbar-collapse .navbar-nav {  margin: 0; }
    .appoinment_modal .modal-header span { right: -3%; }
    
}

@media screen and (max-width:991px) {
    .opd_1 { width: 100%; }
    .opd_2 { width: 100%; margin-top: 100px; }
    .halfimg { width: 375px; top: 50%; }
    .navbar-collapse .navbar-nav { margin: 0; }
    .class2 img { margin-top: 50px; }
    .main .img { height: 850px;}
    .contentcol { padding: 75px 12px 0; }
    .doctor-content { width: 70%; margin: 0 auto; }
    .navbar.sticky{ display: none; }
    .p-top { padding-top: 25px; }
    .main-box12 { width: 90%; }
}

@media screen and (max-width:767px) {
    .halfimg { width: 300px; top: 60%; }
    .main .img { height: 750px; }
    .copyright p { font-size: 15px; text-align: center; }
    .contentcol { padding: 50px 12px 0; }
    .appoinment_modal { width: auto !important; margin: 27px auto; }
}

@media screen and (max-width:575px) {
    .halfimg { width: 265px; }
    .contentcol { padding: 30px 10px 0; }
    .main .img { height: 660px; }
    .class1 { text-align: center; }
    .class2 { text-align: center; }
    .class2 img { width: 85%; }
    .map-size iframe { width: 200px; }
}

@media screen and (max-width:425px) {
    .halfimg { width: 180px; top: 55%; }
    .main .img { height: 570px; }
    .class1 { text-align: center; }
    .class2 { text-align: center; }
    .class2 img { width: 60%; margin-top: 25px; }
    .map-size iframe { width: 160px; }
}